<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LastProject" value=""/>
    <add key="Notepad++Path" value="C:\Program Files\Notepad++\notepad++.exe"/>
    <add key="MsPaintEditorPath" value="C:\Windows\system32\mspaint.exe"/>
    <add key="RegistryPath" value="Software\CygSoft\CodeCat\v3"/>
    <add key="PluginFolder" value="Plugins"/>
    <add key="SyntaxFilePath" value="C:\Code\you\CodeCat\Code\External\syntax.xml"/>
    <add key="QikScriptSyntaxFile" value="qikscript.syn"/>
    <add key="QikTemplateSyntaxFile" value="qiktemplate.syn"/>
    <add key="DefaultSyntax" value="Text"/>
    <add key="DefaultFontSize" value="10"/>
    <add key="HelpPageUrl" value="https://github.com/bobbyache/CodeCat/wiki"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
